.container {
    width: 1375px;
    background-color: #cbf3f0;
    padding: 20px;
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: rgb(39, 39, 59);
}
.row-1,.row-2,.row-3{
    display: flex;
    width: auto;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.row-1{
    background-color: #ffbf69;
}
.row-2{
    background-color: #FFFFFF;
}
.row-3{
    background-color: #2ec4b6;
}
img {
    margin: 30px;
}
p{
    text-align: center;
}